$spacer: 20px;
.shell-header {
	height: 50px;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	&__logo {
		width:120px;
		@include md-up {
			width:180px;
		}
	}
	@include md-up {
		height: 60px;
	}
}

.shell-footer {
	padding: $spacer * 4 0;
	background-color: #000;
	color: #eee;
	letter-spacing: 0.04em;
	margin-top: $spacer * 4;  
}

.container {
	margin: 0 auto;
	padding: 0 $spacer;
	max-width: $site-width-tablet;
	@include lg-up {
		max-width: $site-width-desktop;
	}
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
}

.footer-item {
	padding: 0 $spacer;
	flex: 0 0 100%;
	margin-bottom: $spacer;
	@include md-up {
		flex: 0 0 50%;
		max-width: 50%;	
	}
	@include lg-up {
		flex: 0 0 25%;
		max-width: 25%;	
	}
	
	
}

.footer-bottom {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 $spacer;
}


h2 {
	font-size: 16px;
	color: #999;
	text-transform: uppercase;
	font-weight: 700;
}

ul {
	padding: 0;
	list-style: none;
}
li {
	margin-bottom: 5px;
	font-weight: 600;
}

